
.tickets-page{
    /* margin-left: 270px; */
}

.new-ticket{
    text-align: center;
    font-size: 24px;
    padding-top: 4%;
    padding-bottom: 30px;
}

.new-ticket-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    /* margin-left: 270px; */
    margin: 0 auto;
}

.new-ticket-form input{
    margin-bottom: 20px;
    margin-top: 20px;
}

.new-ticket-form input:focus{
    outline: none;
    border: 1px solid #9ACD32;
}

.new-ticket-form textarea:focus{
    outline: none;
    border: 1px solid #9ACD32;
}

.new-ticket-form select:focus{
    outline: none;
    border: 1px solid #9ACD32;
}

.green{
    color: #9ACD32;
}

#ticket-button{
    border: none;
    background-color: #9ACD32;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
}

#ticket-button:hover{
    background-color: #424242;
    cursor:pointer;
}

/* .open-tickets{
    margin-left: 270px;
} */

.open-tickets{
    width: 50%;
    margin: 10px auto;
}

.open-tickets h1{
    font-size: 24px;
}

/* .closed-tickets{
    margin-left: 270px;
} */

.closed-tickets h1{
    font-size: 24px;
}