.login-form{
    margin-left: 270px;
    min-width: 350px;
}

.login-page-title{
    margin-left: 270px;
    padding-top: 10%;
}

#login-button{
    background-color: #9ACD32;
    color: #fff;
    border: none;
    width: 80px;
    padding: 8px 12px;
}

#login-button:hover{
    background-color:#424242;
    cursor: pointer;
}
