/* .register-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */


.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    min-width: 400px;
    /* margin-left: 270px; */
    text-align: center;
    padding-top: 2%;
}

.form-fields-container{
    text-align: center;
}

.register-title{
    text-align: center;
    /* margin-left: 270px; */
    padding-top: 10%;
    width: 80%;
    min-width: 400px;
    margin: 0 auto;
}

#register-button{
    background-color: #9ACD32;
    color: #fff;
    border: none;
    padding: 8px 12px;
}


#register-button:hover{
    background-color: #424242;
    cursor: pointer;
}


/* 
@media only screen and (max-width: 800px) {
    .register-title{
        margin-left: 200px;
    }
    .register-form{
        margin-left: 200px;
    }
}

@media only screen and (max-width: 600px){
    .register-title{
        margin-left: 80px;
    }
    
    .register-form{
        margin-left: 80px;
    }
} */