.create-post-button{
    background-color: #9aCD32;
    border: none;
    margin-bottom: 40px;
}

.create-post-button:hover{
    background-color: #424242;
    cursor: pointer;
}

.create-post-button:focus{
    background-color: #9ACD32;
    outline: none;
}

.Toastify__progress-bar--success {
    color: #9ACD32 !important;
    background-color: #9ACD32 !important;
  }

  .edit-post-button{
      border: none;
      background-color: #9ACD32;
      color: #fff;
      width: auto;
      text-align: center;
      border-radius: 25px;
      
      position: absolute;
      margin-left: 130px;
  }

  .edit-post-button:hover{
      background-color: #424242;
  }

  .bio-button{
    background-color: #9aCD32;
    border: none;
    margin-bottom: 40px;
}