.dashboard-title{
    margin-top: 50px;
    margin-bottom: 50px;
}


.grid-display{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 30px;
} 

.charity-mode{
    color: #9ACD32;
}

.card-img{
    height: 180px;
}

.Toastify__progress-bar--success {
    color: #9ACD32 !important;
    background-color: #9ACD32 !important;
  }


/* @media only screen and (max-width: 800px){
    #home-page{
        margin-left: 200px;
    }

    .card-container{
        width: 400px;
    }
}

@media only screen and (max-width: 650px) {
    #home-page{
        margin: 0 auto;
        margin-left: 80px;
    }

    .card-container{
        width: 300px;
        flex-direction: column;
    }

    .card-img{
        display: none;
        width: 80px;
        height: 20px;
    }
  }

@media only screen and (max-width: 400px){
    .card-container{
        margin-left: 10px;
        margin-right: 10px;
        width: 90%;
    }
} */