.Toastify__progress-bar--success {
    color: #9ACD32 !important;
    background-color: #9ACD32 !important;
  }

.profile-page-title{
  padding-top: 3%;
}

.bio-description{
  width: 70%;
  text-align: center;
  margin: 0 auto;
}