@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: 'Roboto', sans-serif;
} */

/* #root {
  height: 100%;
} */

.bar {
  position: absolute;
  height: 100%;
  color: #353535;
  font-family: 'Roboto', sans-serif;
}