@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.bar {
  position: fixed;
  margin: 0;
  height: 100vh;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.pro-sidebar{
  color: #fff;
}

#root > div > div.bar > div > div.pro-sidebar-inner{
  background-color:#9ACD32;
}

#root > div > div.bar > div > div.pro-sidebar-inner > div > div.pro-sidebar-header{
  color: #fff !important;
  border-bottom: 1px solid #fff;
  letter-spacing: 4px !important;
}

#root > div > div.bar > div > div.pro-sidebar-inner > div > div.pro-sidebar-content > nav > ul > li:nth-child(1) > div > span.pro-item-content > a{
  color: #fff;
  padding: 0;
}

#root > div > div.bar > div > div.pro-sidebar-inner > div > div.pro-sidebar-content{
  color: #fff
}

/* Icon Background color removed */

.pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper{
  background-color: #fff;
}

#root > div > div.bar > div > div.pro-sidebar-inner > div > div.pro-sidebar-content > nav > ul > li > div > span.pro-icon-wrapper > span > svg{
  fill: #9ACD32;
  margin: 0.4rem;
  margin-top: 0.5rem;
}

#root > div > div.bar > div > div.pro-sidebar-inner > div > div.pro-sidebar-content > nav > ul > li > div:hover{
  color: #424242;
}

#root > div > div.bar > div > div.pro-sidebar-inner > div > div.pro-sidebar-header > svg{
  height: 2.4rem;
  width: 2.4rem;
}

/* Home button on sidebar */
#root > div > div.bar > div > div.pro-sidebar-inner > div > div.pro-sidebar-content > nav > ul > li:nth-child(1):hover{
  text-decoration: none;
  border-bottom: red;
}

.pro-sidebar .pro-menu a{
  color: #fff;
}

#root > div > div.bar > div > div.pro-sidebar-inner > div > div.pro-sidebar-content > nav > ul > li > div > span.pro-item-content > a{
  padding: 0;
}


@media only screen and (max-width: 800px) {
  .bar{
      width: 250px;
  }

  .pro-sidebar{
    width: 200px;
  }

  .pro-sidebar-inner{
    width: 200px;
  }
}

@media only screen and (max-width: 650px) {
  .bar{
      width: 80px;
  }

  .pro-sidebar{
    width: 80px !important;
    z-index: -5 !important;
  }

  .pro-sidebar-inner{
    width: 80px !important;
    z-index: -5 !important;
  }

  #root > div > div.bar > div > div.pro-sidebar-inner > div > div.pro-sidebar-content > nav > ul > li:nth-child(1) > div > span.pro-item-content > a{
    font-size: 0;
    color: transparent;
  }

  #root > div > div.bar > div > div.pro-sidebar-inner > div > div.pro-sidebar-header{
    font-size: 0;
    color: transparent;
  }
}



