/* Styling the footer */

.footer{
    display: flex;
    justify-content: space-around;
    height: 200px;
    background-color: #9ACD32;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-top: 200px;
}

.footer-text{
    display: flex;
    flex-direction: column;
}

.footer-social-media-banner{
    display: flex;
    width: auto;
}

.footer-social-media-banner h5{
    color: #fff;
    white-space: nowrap;
}

.footer-social-media-banner a{
     padding-left: 15%;
     color: #fff;
}

.footer-social-media-banner a:hover{
    color: #a17f1a;
}

.footer h2{
    color: #fff;
    padding-bottom: 10px;
    padding-top: 1%;
    padding-left: 1%;
}

.footer h4{
    color: #fff;
    padding-left: 1%;
    font-size: 13px;
}

.footer-title{
    display: flex;
}

#root > div > div.about-page > div:nth-child(5) > footer > div.footer-text > div > svg{
    height: 2.4rem;
    width: 2.4rem;
    padding: 3px;
    margin-top: 5px;
    margin-left: 5px;
}

#root > div > div.about-page > div:nth-child(5) > footer > div.footer-social-media-banner > a > svg{
    height: 1.8rem;
    width: 1.8rem;
    align-self: center;
}

.footer-social-media-banner h5{
    margin-top: 5px;
}